@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/* GRID CONTAINER */
.grid-container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    grid-template-rows: auto auto auto auto;
    gap: 10px;
    max-width: 600px;
    padding: 20px;
    margin: 0 auto;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
}

/* POSITIONING */
.one {
    grid-column: 1 / 4;
    background-color: #a94442;
    padding: 20px;
}

.two {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-color: #e6d3a3;
    padding: 20px;
}

.three {
    grid-column: 2 / 4;
    background-color: #a8c7a8;
    padding: 20px;
}

.four {
    grid-column: 2 / 3;
    background-color: #9ec1da;
    padding: 20px;
}

.five {
    grid-column: 3 / 4;
    background-color: #6a5acd;
    padding: 20px;
}

.six {
    grid-column: 1 / 4;
    background-color: #e754b5;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
}

.page-content {
    margin-top: 100px; 
}

.carousel-img {
    width: 30%;
}

.hero-img {
    height: 400px;
    object-fit: cover;
}

intro-paragraph {
    max-width: 750px;
    margin: 0 auto;
    padding: 1rem;
    line-height: 1.6;
}